.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2400px;
    background: var(--surface-grey-bg);
}

.app-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.applayout-design {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    width: 100%;
    padding: 48px 32px;
}

.appLayoutCollapsed {
    width: calc(100% - 80px);
}

/* REACT_TOASTIFY CSS HANDLING ------------ STARTED */

.toast-container {
    background: none;
    border-radius: 12px;
}

/** Used to define container behavior: width, position: fixed etc... **/

.Toastify__toast-container {
    padding: 0 !important;
    background: none !important;
    border-radius: 12px;
}

.toast-body-container {
    background: none;
    border-radius: 12px;
}

/** Classes for the displayed toast **/

.Toastify__toast {
    padding: 0;
    border-radius: 12px;
}

.Toastify__toast-body {
    padding: 0;
    border-radius: 12px;
}

/** Used to position the icon **/

.Toastify__toast-icon {
    display: none;
}

/** Classes for the close button. Better use your own closeButton **/

.Toastify__close-button {
    display: none;
}

.Toastify__progress-bar--wrp {
    display: none;
}
